{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 form-box">
                <div class="form-top">
                    <h3>Contact form</h3>
                </div>
                <div class="form-bottom contact-form">
                    {{ form_start(form) }}
                    <ul>
                        <li>
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                        </li>
                        <li>
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                        </li>
                        <li>
                            {{ form_label(form.subject) }}
                            {{ form_widget(form.subject) }}
                        </li>
                        <li>
                            {{ form_label(form.message) }}
                            {{ form_widget(form.message) }}
                        </li>
                    </ul>
                    {{ form_widget(form.save) }}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->


{% endblock %}


