{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    {{ form_start(form, {'attr' : {'id' : 'user-create'}}) }}
    {{ form_errors(form) }}
    {{ form_row(form._token) }}
    <ul>
        <li>
            {{ form_label(form.username) }} :
            {{ form_errors(form.username) }}
            {{ form_widget(form.username) }}
        </li>
        <li>
            {{ form_label(form.password) }} :
            {{ form_errors(form.password) }}
            {{ form_widget(form.password) }}
        </li>
        <li>
            {{ form_label(form.email) }} :
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </li>
        <li>
            {{ form_widget(form.save) }}
        </li>
    </ul>
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}